<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="utf-8">
		<title>Add cookies</title>
		
	</head>
	<body>
		<ul>
			<% for(cookie of cookies) {%>
				<li> <%= cookie[0] %> : <%= cookie[1] %> </li>
			
				<%} 

			%>
		</ul>
	
	</body>
</html>
